{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
 <h1>{{ post.title }} | <span><small>Posted on {{ post.created_at|timesince }} ago.</small></span></h1>
 
 <span>
   <a href="{% url 'post_update' post.pk %}">Edit</a> | 
   <a href="{% url 'post_delete' post.pk %}">Delete</a>
</span>
 
 <p>{{ post.body }}</p>
 
   <h4>Comments ({{ post.comments.count }})</h4>
   <ul>
      {% for comment in post.comments.all %}
         <li><strong>{{ comment.author }}:</strong> {{ comment.text }} | {{ comment.created_at|timesince}} ago.</li>
      {% empty %}
         <li>No comment yet.</li>
      {% endfor %}
   </ul>  
 
{% endblock %}